# *Project: Vanguard A/B Test Results Analysis*
---

### CONTEXT:
- Company : Vanguard, the US-based investment management company. (website: https://investor.vanguard.com/)- Role : newly hired DATA ANALYST in the Customer Experience (CX) team. 
The team launched an exciting digital experiment, and now, they're eagerly waiting to uncover the results and need your help!
- Task : Analyze the results of the digital experiment conducted by the team.Primary objective:  Decode the experiment's performance.
- The critical question : Would these changes encourage more clients to complete the process?
- Belief : Vanguard believed that a more intuitive, modern UI with timely in-context prompts (cues, messages, or instructions within the user’s current task) could make the online process smoother for clients.
---
An **A/B test** was set **into motion** `from 3/15/2017 to 6/20/2017` by the team.
- Control Group: Clients interacted with Vanguard's traditional online process. (old UI)- Test Group: Clients experienced the new, spruced-up digital interface. (new UI)
---

Both groups navigated through an identical process sequence:
- an initial page (start), 
- three subsequent steps (step 1, step 2, step 3), 
- and finally, a confirmation page signaling process completion.
---
**The goal is to see if the new design leads to a better user experience and higher process completion rates.**

---

### Datasets and CSV files

| CSV Name                        | DataFrame Name                                               | Description                                                                 |
|---------------------------------|--------------------------------------------------------------|-----------------------------------------------------------------------------|
| **Client Profiles**              | `df_final_demo`                                             | Demographics of clients including age, gender, and account details.        |
| **Digital Footprints – Part 1 & 2** | `digital_footprints` (merge of `df_final_web_data_pt_1` and `df_final_web_data_pt_2`) | Detailed trace of client online interactions; parts 1 & 2 should be merged.|
| **Experiment Roster**            | `df_final_experiment_clients`                                | List of clients who participated in the grand experiment.                  |

---
## Dataset 1: CLIENTS PROFILES
- CSV: `../data/interim/client_profiles.csv`
- DataFrame: `df_final_demo`
- **Demographics like age, gender, and account details of our clients.**

In [1]:
import pandas as pd
from IPython.display import display

# Load the df_final_demo text file and convert to DataFrame then save to CSV ---------------------------------------------------------------------------------------------

# Load df_final_demo dataset and split by the separator comma ","
df_final_demo = pd.read_csv("../data/raw/df_final_demo.txt",sep=",")

# Save the DataFrame to CSV ---------------------------------------------------------------------------------------------
print(f"DEMO DATA shape: {df_final_demo.shape}")
df_final_demo.to_csv("../data/interim/client_profiles.csv",index=False)

# Display the DataFrame to ensure it loaded correctly --------------------------------------------------------------
print("Saved df_final_demo in a CSV file located ../data/interim/client_profiles.csv.")
display(df_final_demo)

# Assign df_final_demo to df_clients_profiles
df_clients_profiles = df_final_demo

DEMO DATA shape: (70609, 9)
Saved df_final_demo in a CSV file located ../data/interim/client_profiles.csv.

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0
...,...,...,...,...,...,...,...,...,...
70604,7993686,4.0,56.0,38.5,U,3.0,1411062.68,5.0,5.0
70605,8981690,12.0,148.0,31.0,M,2.0,101867.07,6.0,6.0
70606,333913,16.0,198.0,61.5,F,2.0,40745.00,3.0,3.0
70607,1573142,21.0,255.0,68.0,M,3.0,475114.69,4.0,4.0
70608,5602139,21.0,254.0,59.5,F,3.0,157498.73,7.0,7.0

---
## Dataset 2: DIGITAL FOOTPRINTS
- CSV: `../data/interim/df_digital_footprints.csv`
- DataFrame: `df_digital_footprints`
- Merge of `pt_1` and `pt_2`

---
### Merging **pt_1** and **pt_2** into final dataset for **df_digital_footprints**
FROM TXT:
- `df_final_web_data_pt_1.txt`
- `df_final_web_data_pt_2.txt`

TO CSV:
- `df_final_web_data_pt_1.csv`
- `df_final_web_data_pt_2.csv`
- `df_final_web_data_final.csv`

In [2]:
import pandas as pd
from IPython.display import display
# Load the txt files (comma-separated) and convert to DataFrames then save to CSV ---------------------------------------------------------------------------------------------
# Load the two parts of the final web data and split by the separator comma ","
pt_1 = pd.read_csv("../data/raw/df_final_web_data_pt_1.txt",sep=",")
pt_2 = pd.read_csv("../data/raw/df_final_web_data_pt_2.txt",sep=",")

# Display the 2 DataFrames to ensure they loaded correctly --------------------------------------------------------------
display(pt_1.head())
display(pt_2.head())

# Save each DataFrame to CSV ---------------------------------------------------------------------------------------------
print(f"WEB DATA PART 1 shape: {pt_1.shape}")
pt_1.to_csv("../data/interim/digital_footprints_pt_1.csv",index=False)
print("Saved pt_1 in ../data/interim/digital_footprints_pt_1.csv")

print(f"WEB DATA PART 2 shape: {pt_2.shape}")
pt_2.to_csv("../data/interim/digital_footprints_pt_2.csv",index=False)
print("Saved pt_2 in ../data/interim/digital_footprints_pt_2.csv")
print("Saved both parts as CSV files.")

# Merge the two parts (same columns) --------------------------------------------------------------------------------
df_final_web_data = pd.concat([pt_1, pt_2],ignore_index=True)
print(f"Final Merged part shape: {df_final_web_data.shape}")

# Save merged CSV ---------------------------------------------------------------------------------------------
df_final_web_data.to_csv('../data/interim/digital_footprints.csv', index=False)

print("Merged digital footprints parts and saved in '../data/interim/digital_footprints.csv'")

# Display the merged DataFrame to ensure it loaded correctly ---------------------------------------------------------------------------------------------
display(df_final_web_data.head())

# Assign merged df to df_digital_footprints------------------------------------------------------------------
df_digital_footprints = df_final_web_data

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04

,client_id,visitor_id,visit_id,process_step,date_time
0,763412,601952081_10457207388,397475557_40440946728_419634,confirm,2017-06-06 08:56:00
1,6019349,442094451_91531546617,154620534_35331068705_522317,confirm,2017-06-01 11:59:27
2,6019349,442094451_91531546617,154620534_35331068705_522317,step_3,2017-06-01 11:58:48
3,6019349,442094451_91531546617,154620534_35331068705_522317,step_2,2017-06-01 11:58:08
4,6019349,442094451_91531546617,154620534_35331068705_522317,step_1,2017-06-01 11:57:58

WEB DATA PART 1 shape: (343141, 5)
Saved pt_1 in ../data/interim/digital_footprints_pt_1.csv
WEB DATA PART 2 shape: (412264, 5)
Saved pt_2 in ../data/interim/digital_footprints_pt_2.csv
Saved both parts as CSV files.
Final Merged part shape: (755405, 5)
Merged digital footprints parts and saved in '../data/interim/digital_footprints.csv'

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04

In [4]:
import pandas as pd
# load csv to verify
df_digital_footprints = pd.read_csv('../data/interim/digital_footprints.csv')
display(df_digital_footprints)

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04
...,...,...,...,...,...
755400,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10
755401,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29
755402,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51
755403,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34
755404,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09

---
## Dataset 3: EXPERIMENT ROSTER
- CSV: `../data/interim/experiment_roster.csv`
- DataFrame: `df_final_experiment_clients`
- A list revealing which clients were part of the grand experiment

In [5]:
import pandas as pd
from IPython.display import display

# Load the df_final_experiment_clients. text file and convert to DataFrame then save to CSV ---------------------------------------------------------------------------------------------

# Load df_final_demo dataset and split by the separator comma ","
df_final_experiment_clients = pd.read_csv("../data/raw/df_final_experiment_clients.txt",sep=",")

# Save the DataFrame to CSV ---------------------------------------------------------------------------------------------
print(f"FINAL EXPERIMENT CLIENTS shape: {df_final_experiment_clients.shape}")
df_final_experiment_clients.to_csv("../data/interim/experiment_roster.csv",index=False)

# Display the DataFrame to ensure it loaded correctly --------------------------------------------------------------
print("Saved df_final_experiment_clients as CSV file in ../data/interim/experiment_roster.csv.")
display(df_final_experiment_clients)

# Assign df_final_experiment_clients to df_experiment_roster
df_experiment_roster = df_final_experiment_clients

FINAL EXPERIMENT CLIENTS shape: (70609, 2)
Saved df_final_experiment_clients as CSV file in ../data/interim/experiment_roster.csv.

       client_id Variation
0        9988021      Test
1        8320017      Test
2        4033851   Control
3        1982004      Test
4        9294070   Control
...          ...       ...
70604    2443347       NaN
70605    8788427       NaN
70606     266828       NaN
70607    1266421       NaN
70608    9895983       NaN

[70609 rows x 2 columns]

---
## **Load the 3 DATASETS into DataFrames**
- `df_client_profiles` loaded with **"../data/interim/client_profiles.csv"** 
- `df_digital_footprints` loaded with  **"../data/interim/digital_footprints.csv"**
- `df_experiment_roster` loaded with **"../data/interim/experiment_roster.csv"**

In [6]:
import pandas as pd

# client_profiles dataset
df_client_profiles = pd.read_csv("../data/interim/client_profiles.csv")

# digital_footprints dataset (main dataset for client behaviour)
df_digital_footprints = pd.read_csv("../data/interim/digital_footprints.csv")

# experiment_roster dataset
df_experiment_roster = pd.read_csv("../data/interim/experiment_roster.csv")

---
## Display the 3 datasets

In [10]:
import pandas as pd
# display the datasets ---------------------------------------------------------------------------------------------

# display client_profiles dataset
print("Client Profiles Dataset:")
display(df_client_profiles)

# display digital_footprints dataset
print("Digital Footprints Dataset:")
display(df_digital_footprints)

# display experiment_roster dataset
print("Experiment Roster Dataset:")
display(df_experiment_roster)

Client Profiles Dataset:

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0
...,...,...,...,...,...,...,...,...,...
70604,7993686,4.0,56.0,38.5,U,3.0,1411062.68,5.0,5.0
70605,8981690,12.0,148.0,31.0,M,2.0,101867.07,6.0,6.0
70606,333913,16.0,198.0,61.5,F,2.0,40745.00,3.0,3.0
70607,1573142,21.0,255.0,68.0,M,3.0,475114.69,4.0,4.0
70608,5602139,21.0,254.0,59.5,F,3.0,157498.73,7.0,7.0

Digital Footprints Dataset:

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04
...,...,...,...,...,...
755400,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10
755401,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29
755402,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51
755403,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34
755404,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09

Experiment Roster Dataset:

       client_id Variation
0        9988021      Test
1        8320017      Test
2        4033851   Control
3        1982004      Test
4        9294070   Control
...          ...       ...
70604    2443347       NaN
70605    8788427       NaN
70606     266828       NaN
70607    1266421       NaN
70608    9895983       NaN

[70609 rows x 2 columns]

---
### First View of the 3 datasets

In [ ]:
df_digital_footprints.head()
df_digital_footprints.shape()
df_digital_footprints.info()

---
### Dealing with null values in the dataset

In [ ]:
# SABINA COMMENT: What do you gather from this chart?

# SABINA COMMENT: Your logons_6months variable is not well-formatted, this
# chart is completely wrong (even though the idea is useful). Please re-do.

# Deal with Null values for Process step composition by variation (normalized 1)

# document in detail for each cleaning step next to its code and plot

# fixes like from this 15K to 15000
# a = "15K" # info correct but can't calculate with it unless corrected

---
### Load the 3 datasets

In [ ]:
import pandas as pd

# combine datasets part 1 and part 2

# client_profiles dataset
client_profiles = pd.read_csv("../data/df_final_demo.csv")

# digital_footprints dataset (main dataset)
digital_footprints = pd.read_csv("../data/df_final_web_data.csv")

# experiment_roster dataset
experiment_roster = pd.read_csv("../data/df_final_experiment_clients.csv")

---
### First View of the 3 datasets

In [ ]:
digital_footprints.head()
digital_footprints.shape()
digital_footprints.info()